DISCORD_TOKEN=TOKE_HERE
ANNOUNCEMENT_CHANNEL_ID=CHANNEL_ID_HERE
REMINDER_CHANNEL_ID=CHANNEL_ID_HERE
RULE_CHANNEL_ID=CHANNEL_ID_HERE
INFORMATION_CHANNEL_ID=CHANNEL_ID_HERE
ADMIN_ROLE_ID=ROLE_ID_HERE
SPECIAL_USER_ID=USER_ID_HERE
SCHEDULE_TIMEZONE=Asia/Jakarta